<section>
  <!-- DECK HEADER -->
  <header class="header-2 row">
    <img class="img" [src]="trackInfo.albumCover" alt="album art" height="60px" width="60px">

    <div class="branding">
      <span class="title"></span>
    </div>

    <div class="header-actions">
      <div class="time-display">
        <div>{{ currentTime | timeMmss}}</div>
        <div>{{ duration | timeMmss}}</div>
      </div>
      <div class="deck-letter" [class.active]="playState">
        {{deck | uppercase}}
      </div>
    </div>
  </header>

  <!-- DECK BODY CONTAINER -->

  <!-- TEMPO SLIDER -->
  <div class="row">
    <div class="card speed-container col-xl-1 col-md-1" *ngIf="deck == 'b'">
      <div d3-slider id='speed-slider-b' class="speed-slider" [vertical]="'true'" [align]="'center'" [length]="150" [direction]="'RTL'" [maxValue]="1.2"
        [minValue]="0.8" [step]="0.1" [initialValue]="1" [lineWidth]="14" [emptyColor]="'#000'" [color]="'#000'" [thumbSize]="8"
        [thumbColor]="'#1b2a32'" [thumbStrokeWidth]="2" [thumbStroke]="'#0081A7'" (selectedValue)="onSpeedChange($event)">
      </div>
    </div>

    <!-- LEFT SECTION -->
    <div class="card col-xl-11 col-md-11">
      <div class="row">

        <!-- WAVE DISPLAY -->
        <div class=" col-xl-12">
          <div #canvasWindow class="song-window">
            <canvas #canvas class="song-wave" [style.animation-duration]="duration + 's'" [style.animation-play-state]="playState ? 'running': 'paused'"></canvas>
          </div>
        </div>

      </div>
      <!-- CONTROL BUTTONS -->
      <div class="row flex-items-xl-between flex-items-md-between">
        <div class="col-xl-6 col-md-6">
          <button *ngIf="!playState" class="btn" (click)="Play()">
            <clr-icon shape="play" class="is-solid"></clr-icon>
          </button>
          <button *ngIf="playState" class="btn" (click)="Stop()">
            <clr-icon shape="pause" class="is-solid"></clr-icon>
          </button>
        </div>
        <div>
          <div class="btn-group">
            <button class="btn">in</button>
            <button class="btn">out</button>
          </div>
          <button class="btn btn-icon">
            <clr-icon shape="trash"></clr-icon>
          </button>
        </div>
      </div>
    </div>
    <!-- END LEFT SECTION -->

    <!-- TEMPO SLIDER -->
    <div class="card speed-container col-xl-1 col-md-1" *ngIf="deck == 'a'">
      <div d3-slider id='speed-slider-a' class="speed-slider" [vertical]="'true'" [align]="'center'" [length]="150" [direction]="'RTL'" [maxValue]="1.2"
        [minValue]="0.8" [step]="0.1" [initialValue]="1" [lineWidth]="14" [emptyColor]="'#000'" [color]="'#000'" [thumbSize]="8"
        [thumbColor]="'#1b2a32'" [thumbStrokeWidth]="2" [thumbStroke]="'#0081A7'" (selectedValue)="onSpeedChange($event)">
      </div>
    </div>
  </div>
</section>
