<header class="header-3">
  <div class="branding">
    <a href="#" class="nav-link">
      <span class="title branding__title">Project Mix</span>
    </a>
  </div>
  <div class="header-nav">

    <a class="nav-link nav-icon" routerLink='/playlist' routerLinkActive='active'>
      <i class="icon icon-open"></i>
    </a>

    <a class="nav-link nav-icon" routerLink='/effects' routerLinkActive='active'>
      <i class="icon icon-flame"></i>
    </a>

    <a class="nav-link nav-icon" routerLink='/settings' routerLinkActive='active'>
      <i class="icon icon-cog"></i>
    </a>

  </div>
</header>